.header{
    width: 100%;
    background-color: black;
    padding: 10px;
}
.logo{
    display: flex;
}
.logo_text{
    width: 210px;
    margin-top: 53px;
    margin-bottom: 47px;
    color: white;
}
.logo_text__main{
    font: Palatino Linotype;
    font-family: Palatino Linotype;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 29px;
    padding-right: 10px;
}
.logo_text__before::after{
    content: '';
    display: inline-block;
   width: 140px;
    height: 1px;
    vertical-align:middle;
    background: rgb(255, 255, 255);
}

.logo_text__after::before{
    content: '';
    display: inline-block;
    width: 81px;
    height: 1px;
    margin-right: 9px;
    vertical-align:middle;
    text-align: center;
    background: rgb(255, 255, 255);
}

.logo_img{
    max-width: 140px;    
}
.navigation_menu{
    display: flex;
    justify-content: space-between;
    }
  
  .navigation_menu__item{
    margin-right: 1rem;
  }
  
  .navigation_menu__item:last-child{
    margin-right: 0;
  }
  
  .navigation_menu__link{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
    position: relative;
   }
  
  .navigation_menu__link:after{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.7); 
    transition: width 0.3s ease-out;
  }
  
  .navigation_menu__link:hover:after{
     width: 100%;
   }